<div ng-controller="QuestionCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-6 center-block">
        <img src="../img/pathfinder.png" alt="Game Logo">
      </div>
    </div>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2 center-block">
        <a href="/#!/question" class="btn btn-primary btn-lg" target="_self" ng-click="startGame()">Enter Game Link</a>
        <input type="button" ng-click="startGame()" value="Enter Game" class="btn btn-primary btn-lg"/>
      </div>
    </div>
  </div>
</div>